html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    display: grid;
    grid-template-columns: 30em minmax(0, 1fr) 30em;
    gap: 2px var(--container-border-color);
    height: 100vh;
    height: 100dvh;
}
@media (max-width: 1444px) {body{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}}

#page_middleCountertop {
    display: grid;
    grid-template-rows: 4em minmax(0, 1fr) 4em;
    gap: 2px var(--container-border-color);
    min-width: 0;
    min-height: 0;
    user-select: none;
}
.middle-countertop-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: var(--container-border);
}
.middle-countertop-line > div {
    color: var(--container-text-color);
    background-color: var(--container-background-color);
    font-family: var(--font-family);
    border: var(--middle-countertop-line-div-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_pointsBox {
    border: var(--container-border);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 500ms;
}
#button_pointsBox:hover {
    border: var(--points-box-border-hover);
}
#button_pointsBox:active {
    border: var(--points-box-border-active);
}
#textfield_points {
    color: black;
    font-family: var(--font-family);
    font-size: 8em;
    text-shadow:
        -4px -4px 0 #fff,
        4px -4px 0 #fff,
        -4px  4px 0 #fff,
        4px  4px 0 #fff;
}
#page_pointsBoxGradient {
    background: conic-gradient(#fff227, #fff8e7, #84adff, #3e7fff, #ff6803, #ffa500, #fff227);
    animation: spin-360 8s linear infinite;
    position: absolute;
    width: 200vw;
    height: 200vh;
    z-index: -10;
}

#page_cursorCrackEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0;
    z-index: 5;
}

#page_splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    user-select: none;
    z-index: 6;
    transition: opacity 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#page_splashScreenLogo {
    max-width: 20em;
    animation: png-splash-pulse 3s ease-in-out infinite;
}
