/* font stuffs */

* {
    font-family: Arial, Helvetica, sans-serif
}

/* point counter */

.pointCounter {
    text-align: center;
    background: linear-gradient(#fff227, #fff8e7, #3e7fff);
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: solid black 2px;
    font-size: 10vw;
    transition: border 1s;
}

.pointCounter:hover {
    border: white 20px solid;
}

.pointCounter:active {
    border: black 20px solid;
}

/* div/containers */

.pageGrid {
    position: fixed;
    margin: 0 auto;
    display: grid;
    gap: 2px 2px;
    grid-template-columns: 1fr 1fr;
    height: 98vh;
    width: 98vw;
}

.leftDiv {
    text-align: center;
    background-color: white;
    overflow: scroll;
    border: solid black 2px;
    padding: 1em;
}

.upgradeDiv {
    margin: 0 auto 1em auto;
    padding: 0.5em;
    width: 38.75vw;
    border: 2px black solid;
    transition: background-color 0.1s, width 0.3s;
}

.upgradeDiv:active {
    background-color: lightgray;
}

.upgradeDiv:hover {
    width: 36vw;
}

/* used in changelog only */

    .changelogDiv {
        text-align: center;
        margin: 0 auto 1em auto;
        padding: 0.5em;
        width: 40vw;
    }

    .extraDiv {
        margin: 0 auto 1em auto;
        padding: 0.5em;
        width: 38.75vw;
        border: 2px black solid;
        text-align: left;
    }

    .codeDiv {
        margin: 0 auto 1em auto;
        padding: 0.5em;
        width: 38.75vw;
        border: 2px black solid;
        background-color: rgb(75, 75, 75);
        text-align: left;
        color: white;
    }

/* link and button stuffs */

a:link {
    color: rgb(68, 171, 255);
    text-decoration: none;
    transition: font-size 0.2s;
}

a:visited {
    color: rgb(68, 171, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 119, 255);
    font-weight: bold;
    text-decoration: underline;
    font-size: 110%;
}

a:active {
    color: rgb(0, 119, 255);
    font-weight: bold;
    text-decoration: none;
}

button {
    margin: 2px;
    border-radius: 15px;
    color: black;
    transition: color 0.5s, border 0.5s, background-color 0.5s;
}

button:hover {
    color: white;
    border: white solid 2px;
    border-radius: 15px;
    background-color: black;
}

/* misc */

body {
    padding: 0.5em;
}

.logoImg {
    width: 30vw;
    margin: 1px;
}

.upgradeImg {
    width: 10vw;
    margin: 1px;
}

.framedImg {
    border: black solid 2px;
    width: 30vw;
    margin: 0 auto 1em auto;
}
